<nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm sticky-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <strong class="fa-solid-edit"><i class="fa-solid fa-compass-drafting me-2"></i>irBNB</strong>
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/listings"><i class="fa-solid fa-map-location-dot me-1"></i> Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new"><i class="fa-solid fa-plus me-1"></i> Add Listing</a>
        </li>
      </ul>

      <!-- Search Bar -->
      <form class="d-flex me-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search destinations..." aria-label="Search">
        <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-search"></i></button>
      </form>

      <!-- Right links (Auth) -->
      <ul class="navbar-nav mb-2 mb-md-0">
        <% if(!currUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/signup"><i class="fa-solid fa-user-plus me-1"></i> <b>Sign Up</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fa-solid fa-right-to-bracket me-1"></i> <b>Log In</b></a>
          </li>
        <% } %>
        <% if(currUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fa-solid fa-right-from-bracket me-1"></i> <b>Log Out</b></a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
