<% layout("/layouts/boilerplate.ejs") %>

<body>
  <form method="GET" action="/listings/new">
    <button>Create new listings</button>
  </form>
  <ul>
    <% for(let listings of allListing){ %>
    <li><a href="/listings/<%= listings._id %>"> <%= listings.title %> </a></li>
    <% } %>
  </ul>
</body>